NEXT_PUBLIC_BASE_URL="http://127.0.0.1:3000"
NEXT_PUBLIC_API_ENDPOINT="https://apitest.authorize.net/xml/v1/request.api"
NEXT_PUBLIC_PAYMENT_ENDPOINT="https://test.authorize.net/payment/payment"
NEXT_PUBLIC_API_LOGIN_ID="4LJ25eZxE"
NEXT_PUBLIC_TRANSACTION_KEY="2scw9j279yNFnP7g"